
/* The navbar is fixed at >= 980px wide, so add padding to the body to prevent
content running up underneath it. */

html {
  background: #000;
}

body a:hover{
  color: #50f04d;
}

h2, code, pre, body, .pln {
  /* color: #9d9d9d; */
  color: #00ff0f;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
  /* color: #d7d7d7; */
  color: #00ff0f;
  font-size: 1.90em;

}

a.brand {
  /* color: #d7d7d7; */
  color: #00ff0f;
}

.com {
  color: #00ff0f;
}

h2 {
  text-transform: capitalize;
}

h2, h3 {
  font-weight: 300;
}

span {
  font-size: 15px;
}

/* custom navigation styles */
.wrapper .navbar{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1020;
}

.prettyprint {
  background-color: #0f120f;
  padding: 8px;
  border: 1px solid #1c1c1d
}

pre.main-content {
  margin-bottom: 90px;
}

.footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 45px;
   background-color: #000;
   color: #00ff0f;
   line-height: 50px;
   text-align: center;
   border-top: 1px solid #121212;
}

.resource-description, .response-info {
    margin-bottom: 2em;
}
.version:before {
    content: "v";
    opacity: 0.6;
    padding-right: 0.25em;
}

.version {
  font-size: 70%;
}

.format-option {
    font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", monospace;
}

.button-form {
    float: right;
    margin-right: 1em;
}

ul.breadcrumb {
  margin: 58px 0 0 0;
}

form select, form input, form textarea {
  width: 90%;
}

form select[multiple] {
  height: 150px;
}
/* To allow tooltips to work on disabled elements */
.disabled-tooltip-shield {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.errorlist {
    margin-top: 0.5em;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-size: 12px;
}

.page-header {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.navbar .navbar-inner {
    border-top: 5px solid #000;
    background-color: #000;
    border-bottom: 1px solid #121212

}
